body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18pt;
    font-family: Tahoma, Verdana, Arial;
}

#main {
    margin: 12px;
}

#new-todo {
    height: 32px;
    line-height: 28px;
    font-family: Tahoma, Verdana, Arial;
    width: 240px;
}

a {
    text-decoration: none !important;
}

a.del {
    display: inline-block;
    width: 42px;
    text-align: center;
    margin-left: -120px;
    color: #ccc;
}

a.del:hover {
    display: inline-block;
    color: White;
    background-color: Red;
}

a.btn-common {
    color: #c0c0c0;
    margin-bottom: 12px;
    display: inline-block;
}

a.btn-common:hover {
    color: Gray;
}

li.task {
    cursor: default;
    margin-left: 80px;
}

li.task span {
    margin-left: 64px;
}

#list-ready li.task {
    list-style-type: none;
    opacity: 0.5;
    color: Gray;
}

#list-ready li.task span {
    text-decoration: line-through;
}

.errorText {
    color: red;
}

input:invalid {
    border: 2px dashed red;
}

input:valid {
    border: 2px solid black;
}

input:focus:invalid {
    outline: none;
}
/* .MyMapComponent {
}
div:loadingelement {
    height: "100%";
}

.div {
    height: "70vh";
    width: "100%";
}

div:containerelement {
    height: "700px";
}

.mapElement {
    height: "100%";
} */
